<div id="skills">
<div class="card-general">
    <div class="card-body">
       <blockquote class="blockquote blockquote-custom bg-white px-3 pt-3" data-aos="flip-up">
          <div class="blockquote-custom-icon bg-info shadow-1-strong">
             <i class="text-white">Hard & Soft Skills</i>
          </div>
       </blockquote>
       <div class="container text-center">
        
          <div class="row">
             <div class="col-md-3">
                <p>    
                <div class="progress blue mx-auto">
                   <span class="progress-left">
                   <span class="progress-bar"></span>
                   </span>
                   <span class="progress-right">
                   <span class="progress-bar"></span>
                   </span>
                   <div class="progress-value">80%</div>
                </div>
            
                <p><h3>C#</h3>
             </div>
             <div class="col-md-3">
                <p>    
                <div class="progress cyan mx-auto">
                   <span class="progress-left">
                   <span class="progress-bar"></span>
                   </span>
                   <span class="progress-right">
                   <span class="progress-bar"></span>
                   </span>
                   <div class="progress-value">75%</div>
                </div>
                
                <p><h3>MySQL</h3>
             </div>
             <div class="col-md-3">
                <p>    
                <div class="progress red mx-auto">
                   <span class="progress-left">
                   <span class="progress-bar"></span>
                   </span>
                   <span class="progress-right">
                   <span class="progress-bar"></span>
                   </span>
                   <div class="progress-value">80%</div>
                </div>
                
                <p><h3>Java</h3>
             </div>
             <div class="col-md-3">
                <p>    
                <div class="progress green mx-auto">
                   <span class="progress-left">
                   <span class="progress-bar"></span>
                   </span>
                   <span class="progress-right">
                   <span class="progress-bar"></span>
                   </span>
                   <div class="progress-value">75%</div>
                </div>
                
                <p><h3>PHP</h3>
             </div>
          </div>
          <div class="row mt-4">
             <div class="col-md-3">
                <p>    
                <div class="progress violet mx-auto">
                   <span class="progress-left">
                   <span class="progress-bar"></span>
                   </span>
                   <span class="progress-right">
                   <span class="progress-bar"></span>
                   </span>
                   <div class="progress-value">65%</div>
                </div>
                
                <p><h3>Python</h3>
             </div>
             <div class="col-md-3">
                <p>    
                <div class="progress orange mx-auto">
                   <span class="progress-left">
                   <span class="progress-bar"></span>
                   </span>
                   <span class="progress-right">
                   <span class="progress-bar"></span>
                   </span>
                   <div class="progress-value">90%</div>
                </div>
                
                <p><h3>Javascript/CSS/HTML</h3>
             </div>
             <div class="col-md-3">
                <p>    
                <div class="progress teal mx-auto">
                   <span class="progress-left">
                   <span class="progress-bar"></span>
                   </span>
                   <span class="progress-right">
                   <span class="progress-bar"></span>
                   </span>
                   <div class="progress-value">75%</div>
                </div>
              
                <p><h3>Linux</h3>
             </div>
             <div class="col-md-3">
                <p>    
                <div class="progress yellow mx-auto">
                   <span class="progress-left">
                   <span class="progress-bar"></span>
                   </span>
                   <span class="progress-right">
                   <span class="progress-bar"></span>
                   </span>
                   <div class="progress-value">75%</div>
                </div>
                
                <p><h3>Android</h3>
             </div>
          </div>
       </div>
    </div>
</div>