 <div id="inicio">
  
 <div class="card-portada">
  
    <div class="upper">
      <div id="particle-canvas"></div>
     </div>
     <div class="row">
        <div class="col-4">
           <div class="user mb-4">
              <div class="profile">
                 <img [src]="miPortafolio.fotoPerfil" class="rounded-circle" width="80">
                 <h4 class="mb-0">{{miPortafolio.nombre}}</h4>
                 <span class="font-italic">{{miPortafolio.titulo}}</span><br>
                 <span class="text-muted">{{miPortafolio.ubicacion}}</span><span>&nbsp;</span>
                 <span class="blink_me">_</span>
              </div>
           </div>
        </div>
        <div class="col-5" >
           <div class="card mt-3 mb-3">
              <div class="card-header">Acerca de ...</div>
              <div class="card-body ">
                 <h5 class="card-title">Desarrollador web</h5>
                 <p class="card-text">Programador Front-End y Back-End con la experiencia de llevar a cabo proyectos de una forma organizada y eficiente.</p>
              </div>
           </div>
        </div>
     </div>
 </div>
 </div>